doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport")
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    div.container.start
      h1 Geo Message WebApp
      div.col-md-3
      div.col-md-6
        btn.btn.btn-primary.btn-block.btn-md(onclick="window.location.href='/users/auth'") Fenix Login
